<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>209917115873-vt98i875c72ve50865o9smjd77ukd8j9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209917115873-vt98i875c72ve50865o9smjd77ukd8j9</string>
	<key>API_KEY</key>
	<string>AIzaSyCgRnWmr-1WKrv3-MFCz8Vcevzt86QQWzE</string>
	<key>GCM_SENDER_ID</key>
	<string>209917115873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.uni-kassel.eecs.comtec.uMessage</string>
	<key>PROJECT_ID</key>
	<string>codecamp2-6f436</string>
	<key>STORAGE_BUCKET</key>
	<string>codecamp2-6f436.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:209917115873:ios:e8e693f249e6bc28</string>
	<key>DATABASE_URL</key>
	<string>https://codecamp2-6f436.firebaseio.com</string>
</dict>
</plist>