<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>269301381343-jav46lhielvp3uc4cj3maavsni25efrd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269301381343-jav46lhielvp3uc4cj3maavsni25efrd</string>
	<key>API_KEY</key>
	<string>AIzaSyCSWFFHy5f_E7vBgvDz1UzTCWuNcREx1dY</string>
	<key>GCM_SENDER_ID</key>
	<string>269301381343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.uni-kassel.eecs.comtec.uMessage</string>
	<key>PROJECT_ID</key>
	<string>umessage-80185</string>
	<key>STORAGE_BUCKET</key>
	<string>umessage-80185.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:269301381343:ios:e8e693f249e6bc28</string>
	<key>DATABASE_URL</key>
	<string>https://umessage-80185.firebaseio.com</string>
</dict>
</plist>